.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chessField {
  max-width: 800px;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  margin: auto auto;
  flex-wrap: wrap;
  position: relative;
}

.chessField__row {
  max-width: 800px;
  max-height: 100px;
  flex-direction: row;
  margin: 0;
}

.chessField__cell {
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  background-color: rgb(247, 217, 134);
  /* background-color: rgb(209, 209, 209); */
}
.chessField__cell_green {
  background-color: rgb(17, 102, 17);
}

.piece {
  margin: 10px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}
.piece_focus {
  padding: 15px;
  background-color: red;
}

.blackBishop {
  background-image: url('./images/blackBishop.svg');
}
.blackKing {
  background-image: url('./images/blackKing.svg');
}
.blackQueen {
  background-image: url('./images/blackQueen.svg');
}
.blackRook {
  background-image: url('./images/blackRook.svg');
}
.blackKnight {
  background-image: url('./images/blackKnight.svg');
}
.blackPawn {
  background-image: url('./images/blackPawn.svg');
}
.whiteKing {
  background-image: url('./images/whiteKing.svg');
}
.whiteKnight {
  background-image: url('./images/whiteKnight.svg');
}
.whiteRook {
  background-image: url('./images/whiteRook.svg');
}
.whiteQueen {
  background-image: url('./images/whiteQueen.svg');
}
.whitePawn {
  background-image: url('./images/whitePawn.svg');
}
.whiteBishop {
  background-image: url('./images/whiteBishop.svg');
}

.move {
  margin: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 25px;
  outline: 1px dashed black;
}
